body {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

header{
	height: 100px;
	width: 100%;
}

#header{
	position: "fixed";
	left: 50%; 
	top: 0px;
  	transform: translate(-50%, -50%);
	width: 150px;
	height: 150px;
	background: #e74c3c;
	border-radius: 100%;
	margin: auto;
	margin-top: 0px;
	padding-top: 0px; 
	border: solid 10px #ECECEC;
	text-align: center;
	z-index: 101;
}

#header img {
	width: 30%;
	padding-top: 80px;
}

footer{
	height: 0px;
	width: 100%;
	bottom: 0;
	z-index: 101;
}

#info{
	position: "fixed";
	left: 50%;
	background: #e74c3c;
	margin: auto;
	transform: translate(-50%, 50%);
	height:4rem;width:8rem;
	border-radius:4rem 4rem 0 0;
	margin-bottom: 10px;
	bottom: 0;
	z-index: 102;
	text-align: center;
}

#footer{
	bottom: 0;
	height: 0px;
	width: 100%;
	background: #e74c3c;
	border-top: none;
	z-index: 101;
	padding: 0;
}

#info img {
	width: 25%;
	padding-top: 5px;
}