body {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-family: 'Lobster', cursive;
	font-size: large;

}

header{
	height: 100px;
	width: 100%;
}

#header{
	position: "fixed";
	left: 50%; 
	top: 0px;
  	transform: translate(-50%, -50%);
	width: 150px;
	height: 150px;
	background: #e74c3c;
	border-radius: 100%;
	margin: auto;
	margin-top: 0px;
	padding-top: 0px; 
	border: solid 10px #E7E7E7;
	text-align: center;
	z-index: 101;
	box-shadow: 4px 4px 12px #aaa;
	}

#header p {
	width: 200px;
	text-align: center;
}

#header img {
	width: 30%;
	/*padding-top: 30px;*/
	margin-top: -90px;
}

.textHeader {
	visibility: hidden;
	margin: auto;
	color: white;
	margin-top: 10px;
}

footer{
	height: 0px;
	width: 100%;
	bottom: 0;
	z-index: 101;
}

#info{
	position: "fixed";
	left: 50%;
	background: #e74c3c;
	margin: auto;
	transform: translate(-50%, 50%);
	height:3rem;width:4rem;
	border-radius:4rem 4rem 0 0;
	margin-bottom: 10px;
	bottom: 0;
	z-index: 101;
	text-align: center;
	box-shadow: 4px 4px 12px #aaa;
}

#footer{
	bottom: 0;
	height: 0px;
	width: 100%;
	background: #e74c3c;
	border-top: none;
	z-index: 101;
	padding: 0;
	color: white;
	z-index: 102;
}

#footer p {
	margin-top: 20px;
	float: left;
	width: 50%;
}

#info img {
	width: 40%;
	padding-top: 5px;
}