html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Raleway',sans-serif;
}

header{
	width: 100%;
	height: 10%;
	background-color: #fafafa ;
	position: fixed;
	top: 0;
	box-shadow: 1px 1px 12px #555;
	z-index: 2;
}


h1, h2{
	text-align: center;
	margin: auto;
}

p{
	text-align: center;
}

footer{

}

.logo{
	border: solid 2px black;
	border-radius: 100%;
}

.title{
	/*margin-top: 50vh;  poussé de la moitié de hauteur de viewport */
  transform: translateY(50vh);
  color: white;
  text-shadow: 2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, -2px 0 0 black, 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;
	font-size: 4em;
}

.parallax-window{
	width: 100%;
	height: 100%;
}

.row{
	width: 100%;
	padding:5%;
}

#header{
	height: 100%;
	width: 100%;
}

.content{
	background-color: #fafafa ;
	width:100%;
	/*height:100%;*/

}

.content div{

	/*margin-left:5%;*/
}

.blank{
	background-color: white;
	width:100%;
	height:100%;

}